.loginsign-up {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.login,
.login1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 450px) {
  .loginsign-up {
    font-size: var(--font-size-xl);
  }
}
