.booking-shape {
  position: absolute;
  height: 100%;
  width: 87.77%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 12.23%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
}
.find-court-now {
  position: absolute;
  top: 27.31%;
  left: 16.91%;
  z-index: 1;
}
.arrow-right-icon {
  position: absolute;
  height: 59.1%;
  width: 17.63%;
  top: 19.7%;
  right: 3.24%;
  bottom: 21.19%;
  left: 79.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.button-booking1 {
  height: 67px;
  flex: 1;
  position: relative;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 450px) {
  .find-court-now {
    font-size: var(--font-size-xl);
  }
}
